
<div class="uk-modal-title uk-width-1-2">
    <a href="#login" uk-toggle>Login</a>
   </div>
<div class="uk-modal-title"> 
     <a href="#signUp" uk-toggle>SignUp</a>
</div>

<div class="form-group" id="login" >
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email"
           required
           [(ngModel)]="email" name="name">
    <label for="password">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password">
    <input type="button" class="btn btn-primary" (click)="login()" value="Login">
  
</div>

<div class="form-group" id="signUp">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname"
           required
           [(ngModel)]="firstname" name="firstname">
    <label for="lastname">Last Name</label>
    <input type="lastname" class="form-control" [(ngModel)]="lastname">
    <label for="name">Email</label>
    <input type="text" class="form-control" id="email"
           required
           [(ngModel)]="email" name="email">
    <label for="password">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password">
    <input type="button" class="btn btn-primary" (click)="signUp()"  value="SignUp">
  
</div>